<p>operations works!</p>
<div class="parent">
    <div class="child">
        <h1>Inital Stage</h1>
        <ng-container *ngFor="let task of tasks">
            <div class="task" *ngIf="task.stage==1">
                <!-- <button (click)="_tasksServie.prevStage(task)"><</button> -->
                {{task.task}}
                <button (click)="_tasksServie.deleteTask(task)">DELETE</button>
            </div>
        </ng-container>
    </div>
    <div class="child">
        <h1>Stage 2</h1>
        <ng-container *ngFor="let task of tasks">
            <div class="task" *ngIf="task.stage==2">
                <!-- <button (click)="_tasksServie.prevStage(task)"><</button> -->
                {{task.task}}
                <button (click)="_tasksServie.deleteTask(task)">DELETE</button>
            </div>
        </ng-container>
    </div>
    <div class="child">
        <h1>Stage 3</h1>
        <ng-container *ngFor="let task of tasks">
            <div class="task" *ngIf="task.stage==3">
                <!-- <button (click)="_tasksServie.prevStage(task)"><</button> -->
                {{task.task}}
                <button (click)="_tasksServie.deleteTask(task)">DELETE</button>
            </div>
        </ng-container>
    </div>
    <div class="child">
        <h1>Final Stage</h1>
        <ng-container *ngFor="let task of tasks">
            <div class="task" *ngIf="task.stage==4">
                <!-- <button (click)="_tasksServie.prevStage(task)"><</button> -->
                {{task.task}}
                <button (click)="_tasksServie.deleteTask(task)">DELETE</button>
            </div>
        </ng-container>
    </div>

</div>